<div class="container">
  <atropos class="atropos-banner" [highlight]="false" (onEnter)="($event)">
    <img class="atropos-banner-spacer" src="assets/atropos-bg.svg" alt="" />
    <img data-atropos-offset="-4.5" src="assets/atropos-bg.svg" alt="" />
    <img data-atropos-offset="-2.5" src="assets/atropos-mountains.svg" alt="" />
    <img data-atropos-offset="0" src="assets/atropos-forest-back.svg" alt="" />
    <img data-atropos-offset="2" src="assets/atropos-forest-mid.svg" alt="" />
    <img data-atropos-offset="4" src="assets/atropos-forest-front.svg" alt="" />
    <img data-atropos-offset="5" src="assets/atropos-logo-en.svg" alt="" />
  </atropos>
</div>
