html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.mariko {
  position: relative;
  display: block;
  perspective: 1200px;
  transform: translate3d(0, 0, 0);
  touch-action: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}
.mariko-scale,
.mariko-rotate {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition-property: transform;
}
.mariko-shadow {
  z-index: -1;
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: blur(30px);
  opacity: 0;
}
.mariko-highlight {
  position: absolute;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-image: radial-gradient(
    circle at 50%,
    rgba(255, 255, 255, 0.25),
    transparent 50%
  );
  opacity: 0;
  z-index: 0;
}
.mariko-rotate {
  position: relative;
}
.mariko-active {
  z-index: 1;
}
.mariko-active .mariko-shadow {
  opacity: 1;
}
.mariko-inner {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 0);
}

.container {
  padding: 0px 40px;
  max-width: 960px;
  margin: 32px auto;
  display: flex;
  justify-content: space-between;
}

.project-banner {
  width: calc((100% - 64px) / 2);
}
.project-banner .mariko-inner {
  background: #fff;
  border-radius: 10px;
}
.project-banner img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  z-index: 1;
  transform-style: preserve-3d;
}
.project-banner img.project-banner-spacer {
  position: relative;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  visibility: hidden;
}
.project-banner-f7 .mariko-shadow {
  background-image: linear-gradient(90deg, #ff0000, #ff0099);
  filter: blur(20px);
}
.project-banner-f7 .mariko-highlight {
  background-image: radial-gradient(
    circle at 50%,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1) 25%,
    rgba(125, 0, 0, 0.15)
  );
}
.project-banner-twm .mariko-shadow {
  background: rgb(110, 40, 0);
  filter: blur(20px);
}
.project-banner-twm .mariko-highlight {
  background-image: radial-gradient(
    circle at 50%,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1) 25%,
    rgba(125, 50, 0, 0.15)
  );
}
.project-banner-se .mariko-shadow {
  background: rgb(65, 17, 104);
  filter: blur(20px);
}
.project-banner-se .mariko-highlight {
  background-image: radial-gradient(
    circle at 50%,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1) 25%,
    rgba(66, 1, 119, 0.15)
  );
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #557;
  padding: 40px;
}
li {
  cursor: pointer;
}
li .mariko-inner {
  background: #fff;
  border-radius: 16px;
  width: 220px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
li + li {
  margin-top: 16px;
}
li .mariko-shadow {
  filter: blur(10px);
}
li .mariko-highlight {
  background-image: radial-gradient(
    circle at 50%,
    rgba(255, 255, 255, 0.25),
    rgba(0, 0, 0, 0.3) 50%
  );
}
